mixin educationList(educations)
  each education in educations
    .w3-container
        h5.w3-opacity
            b #{education.InstitutionName}
        h6.w3-text-teal
            i.fa.fa-calendar.fa-fw.w3-margin-right
            | #{education.timeline}
        p #{education.type}
        hr