meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv="Permissions-Policy" content="interest-cohort=()")
meta(name='author' content='Wanderson A Reis')
meta(name="keywords" content="Currículo, Desenvolvedor Web, Front-end, HTML, CSS, JavaScript, React, Express, UI Design, Git, GitHub")
meta(name="description" content="Sou um desenvolvedor web com experiência em tecnologias back-end, como Node.js, Express.Js e Postgress Db, além de habilidades em front-end, como HTML, CSS e JavaScript, e ferramentas populares de desenvolvimento, como React. Meu currículo apresenta minhas habilidades em design de interface de usuário, gerenciamento de versão com Git e GitHub, e minhas experiências em desenvolvimento de aplicativos web interativos e escaláveis.")
